/* color pallete */
:root{
    --oren: #dbb13b;
    --birmud: #2dc7ff;
    --bir: #183f9c;
    --birtu: #2d325a;
    --birdong: #0a0e29;
}
@font-face{
	font-family: bi;
	src:url("../font/BahasaIndonesia.ttf");
}
html, body{
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    color: var(--birdong);
    display: table;
    font-weight: 400;
    font-family: bi;
}
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.content{
    text-align: center;
    display: inline-block;
}
.content img{
    width: 60vw;
    height: auto;
}
.title{
    font-size: 4vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}
