
  .has-animation {
    position: relative;
    width: 80%;
    margin-left:10%;
    margin-right:10%;

  }
  .has-animation p, .has-animation img {
    opacity: 0;
  }
  .has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
  }
  .has-animation.animate-in:before, .has-animation.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    border-radius:10%;
  }
  .has-animation.animate-in:before {
    background-color:#AAB5B7;
  }
  .has-animation.animate-in:after {
    background-color:#FF7E83;
    animation-delay: .60s;
  }
  .has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 3.60s ease;
  }
  .has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 3s .60s ease;
  }
  .has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
  }
  .has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s .60s ease;
  }
  
  @keyframes revealRTL {
    0% {
      width: 0;
      right: 0;
    }
    65% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
  @keyframes revealLTR {
    0% {
      width: 0;
      left: 0;
    }
    65% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes textHidden {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  