/* font template */
@font-face{
	font-family: bi;
	src:url("../font/BahasaIndonesia.ttf");
}
@font-face{
	font-family: as;
	src:url("../font/Assistant.ttf");
}
@font-face{
	font-family: mp;
	src:url("../font/MavenPro.ttf");
}
#konten{
	background-color: white;
	border: 3px solid lightblue;
}
#konten h3{
    font-family: as;
    font-size: 30px;
}
#konten div, div button{
    font-family: mp;
	font-size: 18px;
}
