#atas{
	width: 100%;
	display: inline-table;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 4px;
}

#atasleft{
	width: 20%;
	float: left;
}

#atasright{
	width: 80%;
	float: left;
	text-align: right;
	font-size: 20px;
	color: white;
}
#navbar{
    width: 80%;
	float: left;
	text-align: left; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    padding-left: 50%;
    margin: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
    text-align: left;
    font-family: Roboto;
    font-size: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 8px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff66cc;
}
button {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    margin-left: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#isi{
	width: 100%;
	display: inline-table;
	background-color: rgb(201, 23, 82);
	padding-top: 4px;
	padding-bottom: 4px;
}

#isikiri{
	float: left;
	width: 50%;
	height: 670px;
	background-color: rgb(201, 23, 82);
}

#isikanan{
	float: left;
	width: 50%;
	height: 670px;
	background-color:rgb(201, 23, 82);
}
#isi2{
	width: 100%;
	display: inline-table;
	background-color: rgb(253, 47, 10);
	padding-top: 4px;
	padding-bottom: 4px;
}

#isikiri2{
	float: left;
	width: 50%;
	height: 670px;
	background-color: rgb(253, 47, 10);
}

#isikanan2{
	float: left;
	width: 50%;
	height: 670px;
	background-color: rgb(253, 47, 10);
}
h1{
    padding: 8px 0px 8px 0px;
text-align: center;
color: black;
background-color: brown;
}
#kategori{
	width: 100%;
	display: inline-table;
	background-color: rgb(253, 168, 10);
	padding-top: 4px;
	padding-bottom: 4px;
}
#kolom{
	float: left;
	width: 33.3%;
	height: 600px;
	background-color: rgb(253, 168, 10);
}
#bagaimana{
	width: 100%;
	display: inline-table;
	background-color: rgb(10, 164, 253);
	padding-top: 4px;
	padding-bottom: 4px;
}
#kolombagaimana{
	float: left;
	width: 33.3%;
	height: 600px;
	background-color: rgb(10, 164, 253);
}
#footer{
	width: 100%;
	display: inline-table;
	background-color: rgb(255, 255, 255);
	padding-top: 4px;
	padding-bottom: 4px;
}
#kolomfooter{
	float: left;
	width: 33.3%;
    height: 600px;
    text-align: center;
	background-color: rgb(255, 255, 255);
}
#kolomfooter a img{
padding: 0px 40px 0px 40px;
}